.sortpopup {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  width: 15vh;
  height: 15vh;
  background: #fff;
  border-radius: 10vw 0 0 0;
  -moz-border-radius: 10vw 0 0 0;
  -webkit-border-radius: 10vw 0 0 0;
  transition: 0.5s;
  &--active {
    pointer-events: none;
    width: 25vh;
    height: 25vh;
    transition: 0.5s;
  }
  &__item {
    transition: 0.5s;
    min-width: 30px;
    height: 30px;
    padding: 4px;
    text-align: center;
    background-color: #333;
    font-size: 16px;
    border-radius: 15px;
    color: #eee;
    pointer-events: all;
  }
}
